*{margin: 0;padding: 0;outline: 0;}
body{
    background: #bbe4ff;
}
.page{
    width: 600px;
    height: 500px;
    border: 1px solid #ddd;
    margin:20px auto;
    box-shadow: 5px 5px 10px #414141;
    background: #fff;
}
.display-box{
    height: 350px;
    padding: 10px;
    overflow: scroll;
}
.chating_data{
    width: 400px;
    padding: 14px;
    margin: 10px;
    background: #7d93db;
    border-radius: 30px;
    color: #fff;
    height: auto;
}
#name{
    font-weight: bold;
}
#message{
    width: 280px;
    float: left;
}
#date{
    font-size: 14px;
    padding: 10px; 
}